<a href="https://colab.research.google.com/github/Mayank-004/minor-projects/blob/main/Week_3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3 Assignment
* Download the "Week_3_Assignment.ipynb" notebook 
* Fill in the code in the cells marked with `# YOUR ANSWER HERE:` by answering the question/task defined in the cell above it starting with `GRADED:`
* Code cells outside of `# YOUR ANSWER HERE:` will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it!

In [1]:
# IMPORT NECESSARY LIBRARIES AND DATA
import pandas as pd
import numpy as np
nparr = np.arange(64).reshape(16, 4)
# data location
data_url = 'https://raw.githubusercontent.com/plotly/datasets/master/2011_february_us_airport_traffic.csv'
a_df = pd.read_csv(data_url, header=0)
a_df.head()

  iata                            airport  ...        long    cnt
0  ORD       Chicago O'Hare International  ...  -87.904464  25129
1  ATL  William B Hartsfield-Atlanta Intl  ...  -84.426944  21925
2  DFW    Dallas-Fort Worth International  ...  -97.037200  20662
3  PHX   Phoenix Sky Harbor International  ... -112.008056  17290
4  DEN                        Denver Intl  ... -104.667002  13781

[5 rows x 8 columns]

## GRADED SECTION A

1. Determine the shape, number of dimensions and type of elements in the numpy array `nparr`
2. Determine the median of all elements in `nparr`
3. Determine the position (not the value) of the maximum value element in `nparr`
4. Create an array of the same shape as `nparr` but filled with zeros
5. Create an array of the same shape as `nparr` but filled with ones
6. Create an array of the same shape as `nparr` but where all elements are the square root values
7. Create an array result of shape `16` by `16` resulting from multiplication of nparr with transpose(`nparr`). Hint: use `np.dot`

In [ ]:
# YOUR SECTION A ANSWER HERE (please use comments to number each of your answers)

# ques1
print(f'Dimension of dataset are {nparr.ndim}')

print(f' shape of dataset is {nparr.shape}')

print(f' type of dataset is {nparr.dtype}')

# ques2

print(f' median of dataset is {np.median(nparr)}')


# ques3

max_index = np.unravel_index(np.argmax(nparr, axis=None),nparr.shape) # finds column indices


print(f'index of element with maximum value {max_index}')

# ques4

print(f'{np.zeros_like(nparr)}')

# ques5

print(f'{np.ones_like(nparr)}')

# ques6

print(f'{np.sqrt(nparr)}')

# ques7

nparr1=np.dot(nparr,nparr.T)

print(f'{nparr1}')

## GRADED SECTION B

The dataframe `a_df` loads the dataset that contains information on a number of categories regarding traffic (variable `cnt`) at US airports from February 2011.
The dataset has already been loaded for you in the first code cell above.
 1. Print the number of rows of the dataframe (ideally, you should format the print to put the thousands comma separator--as in `23,400` instead of `23400`
 2. Print the names of all the columns of the dataframe
 3. Print a subset of the dataframe containing the `19th` and the `7th` rows of the original dataframe (in that order).
 4. Which US `state` has the `2nd` largest airport traffic?
 5. Which state has the fewest (least) number of airports (i.e. the least amount of airports)?
 6. Of the cities that have multiple airports, which one has the lowest total traffic for all airports?
 7. What is the total airport traffic for New England airports?

In [ ]:
# YOUR SECTION B ANSWER HERE (please use comments to number each of your answers)

# IMPORTANT: SECTION C

### Please list your top 3 (final) choices for a dataset and the datastory for each of those datasets that you would like to pursue and analyze.

In [ ]:
# YOUR SECTION C ANSWER HERE (please use comments to number each of your answers)